body {
	background-color: #FFFFFF;
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: 'Helvetica', sans-serif;
}

.banner-image {
	width: 100%;
	height: 100vh;
	background-size: 100% 100%;
}

.couche-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: #0D8DD2;
	opacity: 0.8;
}

.page-recherche {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

.title {
	color : #0D8DD2;
}
/* HEADER */
header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100px;
	width: 100%;
	background-color: #0D8DD2;
}

.header-acceuil {
	background-color: transparent;

}

.couleur-survol:hover {
	color: #276CDA;
}

header img {
	display: flex;
	margin-top: 5px;
	width:150px;
	height: 150px;
}

.block {
	margin-top: auto;
}

nav {
	float: right;
}

nav li {
	display: inline-block;
	text-align: center;
}

li a {
	padding-right: 50px;
	text-decoration: none;
	color: black;
	font-size: larger;
	color: white;
}


/* FORMULAIRE RECHERCHE */

.section-recherche {
	width: 100%;
	height: 60vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 19px;
}

.recherche {
	display: flex;
	height: 90%;
	justify-content: center;
	align-items: center;
}
	
.button-search {
	width: 200px;
	height:80px;
	font-size: 22px;
	border-width: 5px;
	border-color: white;
	color: white;
}

.block-recherche {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
}

/* ANNONCES */
.largeur-container-annonces  {
	display: flex;
	justify-content: space-around;

	flex-wrap: wrap;
}
.card {
	width: 350px;
}

.fa-heart {
	font-size: 25px;
	color: #e74c3c;
}

.desc {
	height: 50px;
}

.card-content {
	height: 230px;
}


/* PAGINATION */
.pagination {
	height: 20vh;
	font-size: 18px;
}

/* FOOTER */
.footer {
	width: 100%;
	height: 180px;
	margin-top: auto;
	background-color: #0D8DD2;
}

/*CONNEXION*/
.connexion {

}